.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #10ff18;
  float: left;
  width: 120px;
  height: 100%;
  margin: 0px 24px 0px 0;
  background: rgba(255, 255, 255, 0.3);
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/rich_mobile_zootopia_header_90609103.jpeg?region=0,0,640,300');
  background-size: 100% 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
